name: Karbala-Live-Success
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Start
        run: |
          sudo apt-get update && sudo apt-get install -y ffmpeg
          ffmpeg -re -i "https://shia.itv.ovh/hls/karbala.m3u8" -c:v libx264 -preset ultrafast -b:v 2000k -c:a aac -f flv "rtmp://a.rtmp.youtube.com/live2/bxv1-229e-2p3p-j3fb-9rfp"
