name: Raja-Gate-Final
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          pip install yt-dlp
      - name: Start
        run: |
          url=$(yt-dlp -f "best[height<=720]" -g "https://www.youtube.com/watch?v=v4fW-Jmo8qo")
          ffmpeg -re -i "$url" -c:v libx264 -preset ultrafast -b:v 2000k -c:a aac -f flv "rtmp://a.rtmp.youtube.com/live2/bxv1-229e-2p3p-j3fb-9rfp"
