name: Karbala-Final-Mega-Stream
on:
  workflow_dispatch:
jobs:
  mega_stream:
    runs-on: ubuntu-latest
    steps:
      - name: 1-Update-System
        run: sudo apt-get update
      - name: 2-Install-FFMPEG
        run: sudo apt-get install -y ffmpeg
      - name: 3-Install-YTDLP
        run: pip install yt-dlp
      - name: 4-Get-Video-URL
        run: |
          url=$(yt-dlp -f "best[height<=720]" -g "https://www.youtube.com/watch?v=v4fW-Jmo8qo")
          echo "URL_FOUND=$url"
      - name: 5-Start-Final-Broadcast
        run: |
          url=$(yt-dlp -f "best[height<=720]" -g "https://www.youtube.com/watch?v=v4fW-Jmo8qo")
          ffmpeg -re -i "$url" -c:v libx264 -preset ultrafast -tune zerolatency -b:v 2000k -c:a aac -b:a 128k -ar 44100 -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
